---
/**
 * Handles core SEO meta tags for the site
 */

import { SITE_AUTHOR } from "@/config";

interface Props {
    title: string;
    description: string;
    canonical: string;
    rssUrl: string;
    generator: string;
}

const { title, description, canonical, rssUrl, generator } = Astro.props;
---

<meta charset="utf-8" />
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
<meta name="googlebot" content="index, follow, max-image-preview:large" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={generator} />
<link rel="canonical" href={canonical} />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
<link rel="alternate" type="application/rss+xml" title="Alex Mbugua's Blog" href={rssUrl} />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content={SITE_AUTHOR} />
<meta name="keywords" content="leader, mentor, engineer, chip musician, site, portfolio, blog, guestbook, Alex Mbugua, Alex Ngugi, Alex Mbugua Ngugi, asce1062, Alex.Immer" />

<!-- Language and Region -->
<meta name="language" content="English" />
<meta name="geo.region" content="US" />
<meta name="geo.placename" content="United States" />

<!-- Additional SEO Meta Tags -->
<meta name="rating" content="General" />
<meta name="distribution" content="Global" />
<meta name="revisit-after" content="7 days" />
<meta name="format-detection" content="telephone=no" />
