---
import Layout from "../layouts/Layout.astro";
import PreviewImage from "../components/PreviewImage.astro";
import PrivacyPolicy from "../components/PrivacyPolicy.astro";

const image = "/src/assets/guestbook/guestbook.png";
const title = "Guestbook";
const description = "Drop me a note, let's connect ^^";

async function getGuestEntries() {
  const response = await fetch(new Request(
    `https://api.netlify.com/api/v1/forms/${import.meta.env.GUESTBOOK_ID}/submissions`,
    {method: 'GET', headers: {'Authorization': `Bearer ${import.meta.env.NETLIFY_ACCESS}`}}
  ));
  return response.json();
}
const entries = await getGuestEntries();

---

<Layout title={title} ogImage="social-preview.png" description={description}>
		<main>
				<article>
					<PreviewImage src = {image} altText = {title}/>
					<h1>{title}</h1>
					<p>{description}</p>
					<p>
            In the spirit of the beautifully chaotic, handcrafted web of yesteryear
            — when we all had personal homepages filled with <span class="blink">blinking text</span>,
            dubious counters <b><strong>Visitor# <span id="counter">000000</span></strong></b>,
            and way too many <marquee> marquee tags (not just to impress recruiters)</marquee>
            I've decided to bring back the classic guestbook.
          </p>
					<p>Just keep in mind:
          <p>* It's not instant.</p>
          <p>* Messages are moderated and will appear the next time I ship an update. Patience is retro, right? :]</p>
					<form id="form" name="guestbook" method="POST" netlify-honeypot="bot-field" data-netlify="true" Content-Type="application/x-www-form-urlencoded" action="/success">
						<input type="hidden" name="form-name" value="guestbook" />
						<p>
						  <label>Name
							<br /><input type="text" name="name" required /></label>
						</p>
						<p>
						  <label>Email <small>(optional, not published)</small>
							<br /><input type="email" name="email" /></label>
						</p>
						<p>
						  <label>URL <small>(optional, linked from Name)</small>
							<br /><input type="url" name="url" placeholder="https://example.com" pattern="https://.*" /></label>
						</p>
						<p>
						  <label>Subject <small>(please <b>skip</b> this field if you're real)</small>
							<br /><input type="text" name="bot-field" placeholder="Leave me be!" />
							<small>Are you sure you want to type in here? <b>I won't get your message</b>!</small>
						  </label>
						</p>
						<p>
						  <label class="message">Message<br /><textarea name="message" rows="4" required class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="Write your thoughts here..."/></label>
						</p>
            <p>
              <label class="consent"><input type="checkbox" required><small> I consent to <a href="https://www.netlify.com/platform/core/forms/">Netlify Forms</a> receiving this message and passing it through <a href="https://akismet.com/">Akismet</a> spam filtering.</small></label>
            </p>
						<p>
						  <button type="submit" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"><b>Sign Guestbook</b></button>
						</p>
					</form>
          <PrivacyPolicy />
          {Array.isArray(entries) && entries.map((entry:any) =>(
						<article class="entry" style="max-width: 80ch; margin: 0 auto; padding: 6vmin 5.5vmin 5.5vmin;">
							<h2>{entry.human_fields.Url && <a href={entry.human_fields.Url}>{entry.name}</a>}{!entry.human_fields.Url && entry.name}</h2>
							<p>{entry.body}</p>
							<time style="display: block; width: fit-content; margin: 0 0 3vmin auto;">{new Date(entry.created_at).toLocaleDateString('en-gb', {
								year: 'numeric',
								month: 'short',
								day: 'numeric',
							})}</time>
						</article>
					))}
				</article>
			</div>
		</main>
    <p>
      <div class = "!flex !flex-wrap justify-between">
        <a href = "/" aria-label="Visit the Home page">Home</a>
        <a href = "/projects" aria-label="Visit the Projects page">Projects</a>
        <a href = "/blog" aria-label="Visit the Blog page">Blog</a>
        <a href = "/tags" aria-label="Visit the Blog Tags page">Tags</a>
        <a href = "/guestbook" aria-label="Visit the Guestbook page">Guestbook</a>
      </div>
    </p>
</Layout>

<style>
.entry {
    margin: 5vmin 0;
}
.entry h2 {
    margin-bottom: 0;
}
.entry p {
    white-space: pre-line;
}
time {
    display: block;
    width: fit-content;
    margin: 0 0 3vmin auto;
}
.blink {
  animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
</style>

<script>
  const fakeCount = Math.floor(Math.random() * 900000 + 100000);
  const counter = document.getElementById("counter");
  if (counter) {
    counter.textContent = fakeCount.toString();
  }
</script>
