---
export const prerender = false;

import Layout from "@/layouts/Layout.astro";
import PreviewImage from "@/components/PreviewImage.astro";
import PrivacyPolicy from "@/components/PrivacyPolicy.astro";
import GuestbookEntry from "@/components/GuestbookEntry.astro";
import { getGuestEntries, createGuestEntry } from "@/lib/api/guestbook";
import "@/styles/components/guestbook.css";

const image = "/src/assets/guestbook/guestbook.png";
const title = "Guestbook";
const description = "Drop me a note, let's connect ^^";

if (Astro.request.method === "POST") {
	const formData = await Astro.request.formData();
	const name = formData.get("name") as string;
	const email = formData.get("email") as string;
	const url = formData.get("url") as string;
	const message = formData.get("message") as string;
	const honeypot = formData.get("bot-field");

	if (
		!honeypot &&
		typeof name === "string" &&
		typeof message === "string" &&
		name.trim().length > 0 &&
		message.trim().length > 0
	) {
		await createGuestEntry({ name, email, url, message });
		return Astro.redirect("/success");
	}
}

const entries = await getGuestEntries();
---

<Layout title={title} ogImage="social-preview.png" description={description}>
	<PreviewImage src={image} altText={title} />
	<h1>{title}</h1>
	<p>{description}</p>
	<p>
		In the spirit of the beautifully chaotic, handcrafted web of yesteryear — when we all had personal homepages filled
		with <span class="blink">blinking text</span>, dubious counters <strong>
			Visitor# <span id="counter">000000</span>
		</strong>, way too many <marquee>marquee tags</marquee> and
		<span class="faded-text">color faded text (not just to impress recruiters)</span>, I've decided to bring back the
		classic guestbook.
	</p>
	<p>
		Just keep in mind:
		<ul>
			<li>Messages appear instantly, no waiting for the next time I ship an update.</li>
			<li>All messages are subject to moderation and may be removed after the fact.</li>
			<li>Be kind. Spam and abuse will be removed.</li>
		</ul>
		<form id="form" method="POST">
			<p>
				<label>
					Name
					<br /><input class="input-allowed" type="text" name="name" required />
				</label>
			</p>
			<p>
				<label>
					Email <small>(optional, not published)</small>
					<br /><input class="input-allowed" type="email" name="email" />
				</label>
			</p>
			<p>
				<label>
					URL <small>(optional, linked from Name)</small>
					<br /><input
						class="input-allowed"
						type="url"
						name="url"
						placeholder="https://example.com"
						pattern="https://.*"
					/>
				</label>
			</p>
			<p>
				<label>
					Subject <small>(please <b>skip</b> this field if you're real)</small>
					<br /><input class="input-honeypot" type="text" name="bot-field" placeholder="Leave me be!" />
					<small>Are you sure you want to type in here? <b>I won't get your message</b>!</small>
				</label>
			</p>
			<p>
				<label class="message">
					Message<br /><br />
					<!-- prettier-ignore-start -->
					<textarea
						name="message"
						rows="4"
						required
						class="block p-2.5 w-full text-sm input-allowed"
						placeholder="Say hi, leave a riddle, write a poem, or sketch some ASCII art..."></textarea>
					<!-- prettier-ignore-end -->
				</label>
			</p>
			<p>
				<label class="consent">
					<input type="checkbox" required /><small>
						I consent to this message being stored in a self-hosted database with honeypot and pattern-based spam
						filtering.
					</small>
				</label>
			</p>
			<p>
				<button type="submit" class="link-action link-action--success font-medium text-sm px-5 py-2.5 me-2 mb-2"
					>Sign Guestbook
				</button>
			</p>
		</form>
		<PrivacyPolicy />
		{entries.map((entry) => <GuestbookEntry entry={entry} />)}
	</p>
</Layout>

<script>
	import { initGuestbookCounter } from "@/scripts/guestbookCounter";
	initGuestbookCounter();
</script>
