---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Columns from "../components/Columns.astro";
import projects from '../data/projects.json';
const displayProjects = projects.slice(0,4)
---

<Layout title="Alex Mbugua">
	<main>
		<p>
			Alex is a results-driven, articulate, and analytical Full-Stack Engineer with more than 8
			years of experience in technical architecture and development. Since 2017, Alex has
			focused on building secure, scalable cloud architectures for high-impact platforms.
			Alex is able to bridge the gap between technology and business and
			excels at guiding engineering teams towards delivering platform-wide tools and
			infrastructure that drive business and engineering success.
		</p>
		<p>
			Outside of work Alex hones his love for programming on unsuspecting Open Source projects,
			spends an exorbitant amount of time reverse engineering, and moonlights as a
			<a href = "https://asce1062.github.io/" aria-label="Visit my music site">chip musician</a>
			with a soft spot for 8-bit nostalgia reminiscent of the Atari and C64 gaming eras.
		</p>
		<br/>
		<h2>showcase</h2>
		</div>
		<Columns>
				{displayProjects.map(({ name, url, repo, description, tools }) => (
				<Card name = {name}, url={url}, repo={repo}, description={description}, tools={tools}/>))}
		</Columns>
		<p class = "text-center"><a href = "/projects" aria-label="Visit the Projects page">see more projects</a></p>
		</div>
	</div>
	</main>
</Layout>
