---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/ui/Card.astro";
import Columns from "@/components/ui/Columns.astro";
import { getFeaturedProjects } from "@/lib/api/github";

const projectBlacklist = ["fundAI", "findme", "d-v-nsm-nt-a-tp-t-"];

const projects = await getFeaturedProjects("asce1062", import.meta.env.GITHUB_PAT, {
	blacklist: projectBlacklist,
	sortBy: "stars",
	includeLanguages: true,
	excludeForks: false,
});

const displayProjects = projects.slice(0, 4);
---

<Layout
	title="Alex Mbugua"
	ogImage="social-preview.png"
	description="Building secure, performant, scalable solutions in the cloud">
	<p>
		Alex is a results-driven, articulate, and analytical Full-Stack Engineer with more than 8 years of experience in
		technical architecture and development. Since 2017, Alex has focused on building secure, scalable cloud
		architectures for high-impact platforms. Alex is able to bridge the gap between technology and business and excels
		at guiding engineering teams towards delivering platform-wide tools and infrastructure that drive business and
		engineering success.
	</p>
	<p>
		Outside of work Alex hones his love for programming on unsuspecting Open Source projects, spends an exorbitant
		amount of time reverse engineering, and moonlights as a
		<a href="https://asce1062.github.io/" aria-label="visit my music site" target="_blank" rel="noopener noreferrer">
			chip musician
		</a>
		with a soft spot for 8-bit nostalgia reminiscent of the Atari and C64 gaming eras.
	</p>
	<p>
		Thanks for stopping by, check out my <a href="/blog" aria-label="Visit the blog page">blog</a>, see what I'm up to
		<a href="/now" aria-label="Now page">now</a>, sign the <a href="/guestbook" aria-label="Sign guestbook">
			guestbook
		</a> or
		<a href="/8biticon" aria-label="">create your own 8-bit pixel art avatar!</a>
	</p>
	<br />
	<h2>showcase</h2>
	<Columns columns={2}>
		{
			displayProjects.map((project) => (
				<Card
					name={project.name}
					url={project.homepage || project.html_url}
					repo={project.html_url}
					description={project.description}
					tools={project.languages?.map((lang) => ({ name: lang, icon: "" })) || []}
					stars={project.stargazers_count}
					fork={project.fork}
				/>
			))
		}
	</Columns>
	<p class="text-center"><a href="/projects" aria-label="Visit the Projects page">see more projects</a></p>
</Layout>
