---
import Layout from "@/layouts/Layout.astro";
import Columns from "@/components/ui/Columns.astro";
import Post from "@/components/Post.astro";
import { getCollection } from "astro:content";
import { sortPostsByDate, formatPostDate, getPostUrl, estimateReadingTime } from "@/lib/blog/utils";

const allPosts = await getCollection("blog");
const posts = sortPostsByDate(allPosts);
---

<Layout title="Blog" ogImage="social-preview.png" description="My space on the internet. I'm happy you're here ^^">
	<h2>I'm happy you're here ^^</h2>
	<ul class="mb-6">
		<li>Your mind is for having ideas, not holding them.</li>
		<li>A place to capture, organize, distill and express what I consume.</li>
	</ul>
	<Columns columns={1}>
		{
			posts.map((post) => (
				<Post
					name={post.data.title}
					url={getPostUrl(post.id)}
					image={post.data.image.url}
					description={post.data.description}
					date={formatPostDate(post.data.pubDate, "long")}
					tags={post.data.tags}
					readingTime={estimateReadingTime(post.body)}
				/>
			))
		}
	</Columns>
</Layout>
