---
import { socialLinks, contactLinks, siteMetadata } from "@/data/navigation";

const colours = [
	"bg-base-200",
	"bg-base-300",
	"bg-primary",
	"bg-secondary",
	"bg-accent",
	"bg-info",
	"bg-success",
	"bg-warning",
	"bg-error",
];
---

<footer>
	<hr class="w-full h-[1.875px] my-4 border-0 bg-base-300" aria-hidden="true" />
	<div class="flex flex-col justify-between leading-7 sm:leading-5 transition-all duration-300 sm:flex-row">
		<!-- Social Links -->
		<div class="text-left">
			{
				socialLinks.map((link) => (
					<>
						<b>
							<a class="icon" href={link.href} target="_blank" rel="noopener noreferrer" aria-label={link.ariaLabel}>
								<i class={`${link.icon} mr-0 text-xl`} />
								{link.name}
							</a>
						</b>
						<br />
					</>
				))
			}
		</div>

		<!-- Contact & Resume Links -->
		<div class="text-left sm:text-right">
			<b>
				{
					contactLinks.slice(0, 2).map((link, index) => (
						<>
							{index > 0 && " | "}
							<a
								class="icon -mr-1"
								href={link.href}
								aria-label={link.ariaLabel}
								{...(link.download && { download: link.name })}>
								<i class={`${link.icon} mr-0 text-xl`} />
								{link.name}
							</a>
						</>
					))
				}
			</b>
			<br />
			<b>
				<a class="icon" href={contactLinks[2].href} aria-label={contactLinks[2].ariaLabel}>
					<i class={`${contactLinks[2].icon} mr-0 text-xl`}></i>
					{contactLinks[2].name}
				</a>
			</b>
		</div>
	</div>
	<div class="mx-auto mt-4">
		{colours.map((colour) => <span class={`inline-block h-8 w-[10%] ${colour}`}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>)}
		<!-- prettier-ignore-start -->
		<span class="block pt-2 text-xs italic">
			{
				siteMetadata.commitHash && (
					<>
						<svg
							width="100%"
							height="100%"
							viewBox="0 0 24 24"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
							class="size-4 inline-block">
							{" "}
							<path
								d="M16 12C16 14.2091 14.2091 16 12 16C9.79085 16 7.99999 14.2091 7.99999 12M16 12C16 9.79086 14.2091 8 12 8C9.79085 8 7.99999 9.79086 7.99999 12M16 12H22M7.99999 12H2.00018"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>{" "}
						</svg>{" "}
						<a href={siteMetadata.commitUrl} target="_blank" rel="noopener noreferrer">
							{siteMetadata.commitHash}
						</a>
					</>
				)
			} • <a class="link-action no-underline" href={siteMetadata.astroUrl} target="_blank" rel="noopener noreferrer"
				><i class="icon-astro"></i></a
			> • {new Date(siteMetadata.buildTime).toLocaleDateString()}
		</span>
		<!-- prettier-ignore-end -->
	</div>
</footer>
