---
import { socialLinks, contactLinks, siteMetadata } from "@/data/navigation";

const colours = [
	"bg-palette-50",
	"bg-palette-100",
	"bg-palette-200",
	"bg-palette-300",
	"bg-palette-400",
	"bg-palette-500",
	"bg-palette-600",
];
---

<footer>
	<hr class="mt-4 mb-8 sm:my-8 border-border border-palette-700 dark:border-white" aria-hidden="true" />
	<div class="flex flex-col justify-between leading-7 sm:leading-5 transition-all duration-300 sm:flex-row">
		<!-- Social Links -->
		<div class="text-palette-800">
			{
				socialLinks.map((link) => (
					<>
						<b>
							<a class="icon" href={link.href} target="_blank" rel="noopener noreferrer" aria-label={link.ariaLabel}>
								<i class={`${link.icon} mr-2 text-xl`} />
								{link.name}
							</a>
						</b>
						<br />
					</>
				))
			}
		</div>

		<!-- Contact & Resume Links -->
		<div class="text-palette-800">
			<b>
				{
					contactLinks.slice(0, 2).map((link, index) => (
						<>
							{index > 0 && " | "}
							<a
								class="icon"
								href={link.href}
								aria-label={link.ariaLabel}
								{...(link.download && { download: link.name })}>
								<i class={`${link.icon} mr-2 text-xl`} />
								{link.name}
							</a>
						</>
					))
				}
			</b>
			<br />
			<b>
				<a class="icon" href={contactLinks[2].href} aria-label={contactLinks[2].ariaLabel}>
					<i class={`${contactLinks[2].icon} mr-2 text-xl`}></i>
					{contactLinks[2].name}
				</a>
			</b>
		</div>
	</div>
	<div class="mx-auto mt-4">
		{
			colours.map((colour) => (
				<span class={`inline-block h-8 w-[10%] ${colour} opacity-60 dark:opacity-100`}>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span>
			))
		}
		<!-- prettier-ignore -->
		<i>
			<span class="block pt-2 text-xs">
				{siteMetadata.commitHash && <i> on commit <a href={siteMetadata.commitUrl} target="_blank" rel="noopener noreferrer">{siteMetadata.commitHash}</a></i>}. made with <a href={siteMetadata.astroUrl} target="_blank" rel="noopener noreferrer">astro</a><i> • {new Date(siteMetadata.buildTime).toLocaleDateString()}</i>
			</span>
		</i>


	</div>
</footer>
