---
import ThemeSwitcher from "@/components/ThemeSwitcher.astro";
import { socialLinks, contactLinks, siteMetadata } from "@/data/navigation";

const url = new URL(Astro.url.pathname, Astro.site);
const link = url.pathname.split("/").filter((i) => i);
---

<header>
	<div id="navigation" class="mb-3">
		<ThemeSwitcher default="dark" />
		<span>
			~/ <a class="no-underline inline-block" href="/">home</a>
			{
				link ? (
					<span>
						{link.map((data, index) => (
							<span>
								/
								<a class="no-underline inline-block" href={`/${link.slice(0, index + 1).join("/")}`}>
									{data}
								</a>
							</span>
						))}
					</span>
				) : null
			}
		</span>
	</div>
	<h1>{siteMetadata.greeting}</h1>
	<hr class="w-full h-[1.25px] my-4 bg-palette-700 dark:bg-white" />
	<div
		class="flex flex-col justify-between text-sm leading-7 sm:leading-5 transition-all duration-300 sm:flex-row sm:text-base">
		<!-- Social Links -->
		<div class="text-palette-800">
			{
				socialLinks.map((link) => (
					<>
						<b>
							<a class="icon" href={link.href} target="_blank" rel="noopener noreferrer" aria-label={link.ariaLabel}>
								<i class={`${link.icon} mr-0`} />
								{link.name}
							</a>
						</b>
						<br />
					</>
				))
			}
		</div>

		<!-- Contact & Resume Links -->
		<div class="text-palette-800">
			<b>
				{
					contactLinks.slice(0, 2).map((link, index) => (
						<>
							{index > 0 && " | "}
							<a
								class="icon"
								href={link.href}
								aria-label={link.ariaLabel}
								{...(link.download && { download: link.name })}>
								<i class={`${link.icon} mr-0`} />
								{link.name}
							</a>
						</>
					))
				}
			</b>
			<br />
			<b>
				<a class="icon" href={contactLinks[2].href} aria-label={contactLinks[2].ariaLabel}>
					<i class={`${contactLinks[2].icon} mr-0`}></i>
					{contactLinks[2].name}
				</a>
			</b>
		</div>
	</div>
	<hr class="w-full h-[1.25px] my-4 bg-palette-700 dark:bg-white" />
</header>
