---
import ThemeSwitcher from "@/components/ThemeSwitcher.astro";
import { mainNavigation, siteMetadata } from "@/data/navigation";

const url = new URL(Astro.url.pathname, Astro.site);
const link = url.pathname.split("/").filter((i) => i);
---

<header>
	<div id="navigation" class="mb-3">
		<ThemeSwitcher default="dark" />
		<span>
			~/ <a class="no-underline" href="/">home</a>
			{
				link ? (
					<span>
						{link.map((data, index) => (
							<span>
								/
								<a class="no-underline" href={`/${link.slice(0, index + 1).join("/")}`}>
									{data}
								</a>
							</span>
						))}
					</span>
				) : null
			}
		</span>
	</div>
	<h1>{siteMetadata.greeting}</h1>
	<hr class="w-full h-[1.25px] my-4 bg-palette-700 dark:bg-white" />
	<div class="flex flex-col items-center justify-center gap-6">
		<div class="flex flex-row flex-wrap items-center justify-center sm:justify-start gap-0.5 text-palette-800">
			{
				mainNavigation.map((link) => (
					<a
						class={`no-underline group hover:text-accent scale-90 px-1.5 py-2 hover:${link.animation === "rotate-left" ? "-rotate-6" : "rotate-6"} sm:px-1 sm:py-1`}
						href={link.href}
						aria-label={link.ariaLabel}>
						{link.multiPathIcon && link.pathCount ? (
							<span class={`${link.icon} mr-0 text-2xl`}>
								{Array.from({ length: link.pathCount }, (_, i) => (
									<span class={`path${i + 1}`} />
								))}
							</span>
						) : (
							<i class={`${link.icon} mr-0 text-2xl`} />
						)}
						{link.name}
					</a>
				))
			}
		</div>
	</div>
	<hr class="w-full h-[1.25px] my-4 bg-palette-700 dark:bg-white" />
</header>
